<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>CDI-interceptors</title>
</h:head>
<h:body>
	<h1>
    	Translator sasys: #{translatorbean.sayHi}
	</h1> 
</h:body>

</html>
